.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 282px;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__header {
  font-size: 24px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/likebutton2.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .card__header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
